/*coding=UTF-8*/
html{
		margin: 0;
		padding: 0;
		height:100%;
		width: 100%;
}
#webStyle{
    height: 100%;
    margin: 0 auto;
	padding: 0;
	width: 100%;
    background-image: url("images/background.png");
    background-repeat: no-repeat;
    background-size:  100% 100%;
    display: block;
}
#login_form{
    position: relative;
    left: 60%;
	top:15%;
    height: 350px;
    width: 300px;
    background-color:rgba(47,71,115,0.7) ;
    text-align: center;
}

.inputStyle{
    background-color: rgba(255,255,255,0.3);
    width: 200px;
    height:20px;
    margin: 40px;
    padding: 10px;
    outline:none;    /*输入框光标的边框*/
    border-radius: 20px;  /*设置边框的弯曲度*/
    border-color: rgb(3,181,218);
}

/*设置placeholder的颜色*/
*::-webkit-input-placeholder{
    color: white;
}

/*设置submit按钮的样式*/
#submit{
    background-color: rgb(3,181,218);
    width:100px;
    height: 40px;
    border: none;
    border-radius: 20px;
    margin:30px;
    color: white;
    font-family: 微软雅黑;
    font-size: 15px;
    font-weight: bold;
}
#submit:hover{
    background-color: rgb(27,214,252);
}
