<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>
<!DOCTYPE html>
<html lang="en">
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'system/changePassword.css' %}" />
<head>
    <meta charset="UTF-8">
    <title>记录每一点进步</title>
</head>
<body id="webStyle">
{% if error %}<p><strong>{{ error }}</strong></p>{% endif %}
<br>
{% if changePassword %}<p><strong>{{ changePassword }}</strong></p>{% endif %}
<div id="login_form">
    <form action="{% url 'system:changePasswordAction' %}" method="post">
        {% csrf_token %}
        <label>
            <input type="password" name="newPassword" placeholder="新密码" class="inputStyle" />
        </label>
        <br>
        <label>
            <input type="password" name="repeatPassword" class="inputStyle" placeholder="请重复密码"/>
        </label>
        <br>
        <input type="submit" value="确认修改" id="submit" />
    </form>
</div>

</body>
</html>