<!DOCTYPE html>
<html lang="en">
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'system/student.css' %}" />
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="text-align: center;width: 100%;height: 100%;margin:0;">
<div class="header">
    <h5>学生成绩管理系统</h5>
    <p>你好！{{ student_score.Name }}同学</p>
    <form action="{% url 'system:logout' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="退出登录" id="logout" />
    </form>
</div>
<br>
<a href="{% url 'system:changePassword' %}" id="changePassword">< 修改密码</a>
<table id="scores">
    <caption style="font-weight: bolder;font-family:微软雅黑;font-size: 1.1em;">
        {{ student_score.Name }}的成绩
    </caption>
    <tbody>
    <tr class="headTable">
        <th>学号</th>
        <th>你的名字</th>
        <th>语文</th>
        <th>数学</th>
        <th>英语</th>
        <th>物理</th>
        <th>化学</th>
        <th>总分</th>
        <th>排名</th>
    </tr>
    <tr class="contentTable">
        <td>{{ student_score.StudentID }}</td>
        <td>{{ student_score.Name }}</td>
        <td>{{ student_score.Chinese }}</td>
        <td>{{ student_score.Math }}</td>
        <td>{{ student_score.English }}</td>
        <td>{{ student_score.Physics }}</td>
        <td>{{ student_score.Chemistry }}</td>
        <td>{{ student_score.sum }}</td>
        <td>{{ Ranking }}</td>
    </tr>
    </tbody>
</table>
<br>
<footer style="position: relative;color:rgb(27,66,254); ">
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <p>————————————————————————————————————————————————————————————————————————————————————</p>
    <p>管理员联系方式：18846188605</p>
</footer>
</body>
</html>